textarea {
    min-height: 400px;
}

.read-email {
    background-color: rgb(210, 210, 210);
}

.unread-email {
    background-color: rgb(255, 255, 255);
}

.list-group {
    border-radius: 5rem;
}

#un-archive-action {
    background-color: rgb(184, 226, 184);
}

#archive-action {
    background-color:  rgb(210, 210, 210);
}

.email-button-group {
    display: flex;
    gap: 20px;
}

.email-text {
    font-weight: normal;
}
.label-text {
    font-weight: bold;
}