textarea {
    min-height: 400px;
}

.unread-email {
    background-color: rgb(210, 210, 210);
}

.read-email {
    background-color: rgb(255, 255, 255);
}

.list-group {
    border-radius: 5rem;
}

#un-archive-action {
    background-color: rgb(184, 226, 184);
}

#archive-action {
    background-color:  rgb(210, 210, 210);
}

.email-button-group {
    display: flex;
    gap: 20px;
}

.email-button-group > button {
    border-radius: 5rem;
    width: 10rem;
    height: 2rem;
    border: 1px solid black;
}